//variables-------------------------------------------------------------------\\

$myPurple: #8650ac;
$myBlue: #0b00a7;
$headerBlue: #080078;
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

//mixins----------------------------------------------------------------------\\

@mixin fontandcolor($fontsize, $fontcolor) {
    font-size: $fontsize;
    color: $fontcolor;
}

@mixin centerandspacing($distance) {
    margin-top: $distance;
    text-align: center;
}

//rules------------------------------------------------------------------------\\

hr {
    background-color: $headerBlue;
    height: 3px;
    border: 2px solid $headerBlue;
    border-radius: 25px;
    margin-inline: 15%;
    margin-bottom: 2.5%;
}
.mat-toolbar {
    font-family: Oxygen;
    @include fontandcolor(24px, $headerBlue);
}
h2 {
    font-family: Oxygen;
    @include centerandspacing(2.5%);
    @include fontandcolor(50px, $myBlue);
}
body {
    @include centerandspacing(5%);
    @include fontandcolor(2em, $myBlue);

    div {
        color: $myPurple;
        p {
            line-height: 50px;
            font-style: italic;
            a:active {
                color: #7a007d;
            }
        }
        #main {
            margin-top: 2.5%;
            line-height: 50px;
            margin-inline: 25%;
        }
    }
}
app-dropdown {
    font-size: 16px;
}