$myPurple: #8650ac;
$myBlue: #080078;

@mixin fontandcolor($fontsize, $fontcolor) {
    font-size: $fontsize;
    color: $fontcolor;
}

@mixin centerandspacing($distance, $alignment) {
    margin-top: $distance;
    text-align: center;
}

* {
    text-align:center/left/right;
    font-family: "Oxygen", "Helvetica Neue", Helvetica, sans-serif !important;
}



.mat-toolbar {
    @include fontandcolor(24px, $myBlue);
}
h2 {
    font-family: "Oxygen", "Helvetica Neue", Helvetica, sans-serif;
    @include centerandspacing(2.5%, center);
    @include fontandcolor(50px, $myBlue);
}
body {
    @include centerandspacing(2.5%, center);
    @include fontandcolor(2em, $myBlue);

    div {
        p {
            line-height: 50px;
            font-style: italic;
            color: $myPurple;
        }
    }
}