<mat-toolbar color=accent>
    <span>{{title}}</span>
</mat-toolbar>
<h2 color="#8650ac">Welcome to my website!</h2>
<body>
    <div>
        Links:
        <p id="one">
            <em>
                <br><a href={{twitterurl}}>Twitter</a><br>
                <a href={{githuburl}}>Github</a>
            </em>
        </p>
        <p id="two">
            This website is gonna be primarily used for blogging about my programming projects, maybe learning about art, who knows. Only time will tell, but it'll be fairly casual! Thanks for reading! &lt;3
        </p>
    </div>
<body>