<header>
    <h2>The First Post</h2>
    <h3>June 19, 2022</h3>
</header>
<body>
    <div>
        <article>
            <p id="four">
                Huh, after almost a week it seems like i've finally got this thing up and running properly. Angular is confusing, just starting to learn it after all. Anyways, looks pretty good for a beginner to web dev, eh? Took me a while, but look where we are now! A functioning dropdown, a hosted website, and best of all, knowledge! More features definitely will come to this site with time, and it's gonna be a learning experience for sure. I enjoyed this, I know that. It was definitely a journey, but we're here now. Oh wait, I never introduced myself. I'm Evelyn, a trans programmer, gamer, and overall mess as a whole. But uh, yeah, gonna keep this first post fairly short as I don't really know what to slap in this one, so yeah. Thanks for reading!<br><br>-Evelyn
            </p>
        </article>
    </div>
</body>