//variables-------------------------------------------------------------------\\

$myPurple: #8650ac;
$myBlue: #0b00a7;
$headerBlue: #080078;

//mixins----------------------------------------------------------------------\\

@mixin fontandcolor($fontsize, $fontcolor) {
    font-size: $fontsize;
    color: $fontcolor;
}

//rules------------------------------------------------------------------------\\

* {
    text-align:center/left/right;
    font-family: "Oxygen", "Helvetica Neue", Helvetica, sans-serif !important;
}

header {
    text-align:center;
    h2 {
        @include fontandcolor(50px, $headerBlue);
    }

    h3 {
        @include fontandcolor(2em, $myBlue);
    }
}


body {
    margin-top: 5%;
    text-align: center;
    div {

        article {
            @include fontandcolor(1.5em, $myPurple);
            text-align: center;
            p {
                margin-inline: 5%;
                line-height: 32px;
                text-align: match-parent;
            }
        }
    }
}