//variables-------------------------------------------------------------------\\

$myPurple: #8650ac;
$myBlue: #0b00a7;
$headerBlue: #080078;
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

//mixins----------------------------------------------------------------------\\

@mixin fontandcolor($fontsize, $fontcolor) {
    font-size: $fontsize;
    color: $fontcolor;
}

@mixin centerandspacing($distance) {
    margin-top: $distance;
    text-align: center;
}

//rules------------------------------------------------------------------------\\

h4 {
    @include centerandspacing(auto);
    color: $myPurple !important;
    font-size: 24px !important;
    font-family: Oxygen !important;
    margin-bottom: 2% !important;
}

div {
    margin-bottom: 2.5%;
    @include centerandspacing(auto);
    * {
        font-family: Oxygen;
    }
    .mat-label {
        margin-top: auto;
    }
    .mat-form-field {
        * {
            text-align: left;
            color: $myPurple;
        }
    }
    .mat-option {
        color: $myPurple;
        text-align: center;
        background:black !important;
        .bottom-border-class {
            border: 0px solid black !important;
        }
    }
    .mat-select-value {
        color: #a70e91 !important;
    }
    ::ng-deep {
        .mat-select-value {
            color: #a70e91 !important;
        }
    }
}


